.App {
  text-align: center;
  background-color: #eff3f3;
  height: 100%;
  width: 100%;
  min-height: 101vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  


}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-descriptions-title{
  margin-top:20px;
  font-size: large;
}

.color-player .ant-badge-status-dot {
  height: 30px;
  width: 30px;
}


.Landing-component {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),url(./assets/connect4-landing.png);
  height: 101vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
  position: relative;
}


.landing-content {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  opacity: 1;
  z-index: 999;
  
}

.landing-content > h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

